<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{- .Site.Title -}}</title>
    {{ $siteDescription := .Site.Params.description }}
    {{ if (index .Site.Data .Site.Language.Lang).site }}
      {{ $siteConfig := (index .Site.Data .Site.Language.Lang).site }}
      {{ if $siteConfig.description }}
        {{ $siteDescription = $siteConfig.description }}
      {{ end }}
    {{ end }}
    <meta name="description" content="{{ $siteDescription }}" />
    
    <!-- import common headers -->
    {{- partial "header.html" . -}}

    <!-- import index page specific headers -->
    <link rel="stylesheet" href="{{ "/assets/css/sections/home.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/assets/css/sections/about.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/assets/css/sections/skills.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/assets/css/sections/experiences.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/assets/css/sections/projects.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/assets/css/sections/recent-posts.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/assets/css/sections/achievements.css" | relURL }}"/>
        <!-- Pixel Code for https://notifix.co/ -->
    <script async src="https://notifix.co/pixel/c6acvd6seqb97031lkg07yexy3vpvp7o"></script>
    <!-- END Pixel Code -->

    <!-- Add Google Analytics if enabled in configuration -->
    {{ if site.GoogleAnalytics }}
        {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
  </head>
  <body data-spy="scroll" data-target="#top-navbar" data-offset="100">

    <!--- NAVBAR ------------------------->
    {{- partial "navigators/navbar.html" . -}}

    <!--- ADD HOME SECTION ---------------->
    {{- partial "sections/home.html" . -}}

    <!--- ADD OPTIONAL SECTIONS ----------->
    {{ $sections:= site.Data.sections }}
    {{ if (index site.Data site.Language.Lang).sections }}
      {{ $sections = (index site.Data site.Language.Lang).sections }}
    {{ end }}

    {{ if $sections }}
      {{ $background:= "bg-white"}}
      {{ range sort $sections "section.weight" }}
        {{ if .section.enable }}
          <div class="container-fluid section-holder d-flex {{ $background }}">
            {{ if .section.template }}
              {{- partial .section.template . -}}
            {{ else }}
              {{- partial (printf "sections/%s.html" (replace (lower .section.id) " " "-")) . -}}
            {{ end }}
          </div>
          <!--- alter background color for next section --->
          {{ if eq $background "bg-white" }}
            {{ $background = "bg-dimmed" }}
          {{ else }}
            {{ $background = "bg-white" }}
          {{end}}
        {{ end }}
      {{ end }}
    {{ end }}

    <!--- ADD FOOTER ----------------------->
    {{- partial "footer.html" . -}}

    <!--- ADD COMMON SCRIPTS --------------->
    {{ partial "scripts.html" . }}

    <!--- ADD INDEX PAGE SPECIFIC SCRIPTS -->
    <script src="{{ "/assets/js/itype.min.js" | relURL }}"></script>
    <script src="{{ "/assets/js/github-button.js" | relURL }}"></script>
    <script src="{{ "/assets/js/home.js" | relURL }}"></script>
    <script src="{{ "/assets/js/jquery.filterizr.min.js" | relURL }}"></script>
  </body>
</html>
