<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Page.Title }}</title>
    <!------ ADD COMMON HEADERS -------->
    {{- partial "header.html" . -}}

    <!------ ADD PAGE SPECIFIC HEADERS ------->
    {{ block "header" . }} {{ end }}

    <!-- ADD GOOGLE ANALYTICS IF ENABLED -->
    {{ if site.GoogleAnalytics }}
      {{ template "_internal/google_analytics_async.html" . }}
        <!-- Pixel Code for https://notifix.co/ -->
  <script async src="https://notifix.co/pixel/c6acvd6seqb97031lkg07yexy3vpvp7o"></script>
  <!-- END Pixel Code -->
    {{ end }}
  </head>

  <body data-spy="scroll" data-target="#TableOfContents" data-offset="80">
    <div class="container-fluid bg-dimmed wrapper">
      <!----- ADD NAVBAR --------------->
      {{ block "navbar" . }} {{ end }}

      <!----- ADD SIDEBAR --------------->
      {{ block "sidebar" . }} {{ end }}

      <!----- ADD PAGE CONTENT --------->
      {{ block "content" . }} {{ end }}

      <!----- ADD TABLE OF CONTENTS ----------->
      {{ block "toc" . }} {{ end }}
    </div>

    <!------- ADD FOOTER ------------>
    {{- partial "footer.html" . -}}

    <!------- ADD COMMON SCRIPTS ------->
    {{ partial "scripts.html" . }}

    <!------- ADD PAGE SPECIFIC SCRIPTS ------>
    {{ block "scripts" . }} {{ end }}
  </body>
</html>
